run.sh
target/
Cargo.lock
.env
.idea/.gitignore
.idea/aws.xml
.idea/modules.xml
.idea/rust_azure_email_communication.iml
.idea/vcs.xml
run.json
/.idea/material_theme_project_new.xml
/.idea/developer-tools.xml
/.idea/misc.xml
